@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Kdam+Thmor+Pro&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161b20;
    font-family: "Teko", sans-serif;
    font-family: "Pathway Extreme", sans-serif;
}

.swiper-slide {
    height: 79vh !important;
}


p {
    font-family: "Hanuman", serif;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* menu active */
.active,
.btn:hover {
    color: #fefae0;
}

.box-item {
    display: none;
}

.active{
    display: block;
    /* animation: slide-in  0.3s ease 1 forwards; */
}

@keyframes slide-in {
    from {
        transform: translateY(-1%);
        opacity: 0.5;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* ======================= */
.sub {
    animation: ease slideIn 0.5s;
    animation-timing-function: linear;
}


@keyframes slideIn {
    from {
        transform: translateY(28%);
        opacity: 0.25;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.pageContent {
    animation: ease slideIn 0.5s;
    animation-timing-function: linear;
}


@keyframes slideIn {
    from {
        transform: translateY(-28%);
        opacity: 0.25;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.text-span {
 background: url(./images/casino.png);
 -webkit-background-clip: text-span;
 background-clip: text-span;
 color: transparent;
}